body{
    background-color: #5b6467;
    background-image: linear-gradient(315deg, #5b6467 0%, #8b939a 74%);
    font-family: 'Lato', sans-serif;
    color: #1dcebe;    
}
.bottom,
.left,
.middle,
.right
{
     display: flex;
     justify-content: center;
     align-items: center;
}
.bottom{
    grid-area: bottom;
}
.left
{
     grid-area: left;
}
.middle
{
     grid-area: middle; 
}
.right
{
     grid-area: right; 
}
.app{
    display: grid;
    width:98.8vw;
    height:98.3vh;
    grid-template-areas:
    'left left middle middle right right'
    'left left middle middle right right'
    'left left middle middle right right'
    'bottom bottom bottom bottom bottom bottom'
    'bottom bottom bottom bottom bottom bottom';
}
.field{
    width:80%;
    height:80%;
    background-color: rgba(255, 255, 255,0.9);
    border-radius: 10px;
    border: 2px solid#1dcebe;    

}

img{
    position: absolute;
    widows:7vw;
    height:7vw;
}
#soccer,
#basket,
#volley{
    height:50vh;
    width:25vw;
}
.sign-div{
    width:98vw;
    height:98vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
h1{
    font-size: 6rem;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
}
.bottom > .field > img:hover{
    cursor: pointer;
}