body {
    background-color: #242424;
    background-image: linear-gradient(315deg, #242424 0%, #4e4e4e 74%);
    color: rgba(255, 255, 255,0.5);
    height: 98vh;
    width: 98vw;
    font-family: "Lato", sans-serif;
}
.app {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}
h1 {
    font-size: 2rem;
}
input {
    padding-left: 2%;
    width: 100%;
    font-size: 1.5rem;
    border-radius: 15px;
    border: 2px solid rgba(31, 175, 18,0.8);
}
input:focus{
    outline: none;
}
.one-line {
    display: flex;
    justify-content: columns;
}
#word {
    color: rgba(31, 175, 18,0.6);
    margin-left: 13px;
}
img {
    margin-top: 2vh;
    margin-left: 10px;
}
