body{
    background-color: #242424;
    color: white;
    height: 98vh;
    width: 98vw;
    font-family: 'PT Sans', sans-serif;
}
.app{
    display: flex;
    justify-content: center;
    align-items: center;
    height:100%;
    width: 100%;
}
h1{
    font-size: 2rem;
}
input{
    width:100%;
    font-size: 1.5rem;
    border-radius: 15px;
    border: 3px solid #1faf12;
}
.one-line{
    display: flex;
    justify-content: columns;
}
#word{
    color: #1faf12;
    margin-left: 13px;
}